nav {
    background-color: #444;
    position: sticky;
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  nav ul {
    display: flex;
    align-items: center;
    list-style: none; /* supprime les puces de la liste */
    margin: 0; /* supprime les marges par défaut */
    padding: 0; /* supprime les marges intérieures par défaut */
  }

  nav li {
    float: left;
    text-align: center;
  }

  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 37px 16px;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1vw;
    font-family: 'system-ui';
    text-transform: uppercase;
  }

  nav li a:hover {
    background-color: #111;
  }



  nav li b {
    display: block;
    color: white;
    text-align: center;
    padding: 37px 16px;
    text-decoration: none;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  .fa-solid.fa-class{
    position: absolute;
    left: 0;
  }

  .fa-solid.fa-bars{
    /* Your styles here */
    color: white;
    font-size: 200%;
    text-align: center;
    padding: 30px;
    
    
  }


  .menu-item {
    border-right: 2px solid #ccc; /* ajouter une bordure droite à chaque élément, sauf le dernier */
    vertical-align: top;
  }
  

  .menu-item:first-child{
    border-left: 2px solid #ccc;
  }

  
