  
  <div class="anime-container">
    <div><app-filtre-anime></app-filtre-anime></div>
    <button (click)="test()">test</button>
    <button (click)="test2()">test</button>
    <div class="anime-row">
      <div *ngFor="let anime of animeList" class="anime-item" (click)="onAnimeClick(anime)" [routerLink]="['/anime', anime.id]">
        <img [src]="anime.coverImage.large" alt="Anime cover">
        <h2>{{ anime.title.romaji }}</h2>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button (click)="onPrevPageClick()">Previous</button>
    
    <button (click)="onNextPageClick()">Next</button>
  </div>


