<nav>
  <ul>
    <li>
      <div class="menu-item">
        <a routerLink="/anime-collection">Anime</a>
      </div>
    </li>
    <li>
      <div class="menu-item">
        <a routerLink="/manga-collection">Manga</a>
      </div>
    </li>
    <li>
      <div class="menu-item">
        <a href="#" (click)="logout()">Logout</a>
      </div>
    </li>
  </ul>

  <ul>
    <li>
      <div class="menu-item">
        <a><app-recherche (rechercheEffectuee)="logResults($event)"></app-recherche></a>
      </div>
    </li>
  </ul>
</nav>
