

nav{
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.menu-item-menu {
  display: inline-block;
  width: 20%; /* pour afficher 5 éléments côte à côte, la largeur de chaque élément doit être de 20% */
  border-right: 1px solid #ccc; /* ajouter une bordure droite à chaque élément, sauf le dernier */
  vertical-align: top;
}

.menu-item-menu:last-child {
  border-right: none; /* enlever la bordure droite pour le dernier élément */
}


nav li {
  margin: 0;
  padding: 10px;
}

nav li:last-child {
  border-bottom: none;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #ff0;
}
