.container {
  display: flex;
  flex-direction: column; /* affiche les éléments en ligne horizontale */
  justify-content: space-between; /* espacement des éléments */
}


.menuGauche {
  max-height: 500px;
  background-color: purple;
  color: #fff;
  font-size: 18px;
  height: auto;
  transition: max-height 1s ease;
}

.panel {
  height: 100%;
  background: linear-gradient(90deg, #C7C5F4, #776BCC);		

}

.collapsed {
  max-height: 0px;
  overflow: hidden;
}

