.container {
  height: 100%;
  width: 100%;
  display: flex;
}


.menuGauche {
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #444;
  color: #fff;
  font-size: 18px;
  height: 100%;
  transition: width 0.2s linear;
}

.panel {
  width: 100%;
}

.collapsed {
  width: 0px !important;
}
