div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  body {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);		
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
  }